.container{
    width: 100vw;
    height: 100vh;
}

#app{
    width:100vw;
    height:100vh;
}

/* =================== */
/* === header area === */
/* =================== */

#title{
    background-color: rgb(166, 166, 255);
    width:100vw;
    height:10vh;
    font-size:1em;
    text-align: center;
}
#header{
    font-size:1em;
    text-align: center;
    background-color: rgb(2, 80, 126);
    width:100vw;
    height:8vh;
    margin-bottom: 5vh;
}

.material-icons{
    position: relative;
    top:.7vh;
}

button{
    background-color: rgb(2, 80, 126);
    padding: 5px px;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    border-width: 0px;
}

@media screen and (max-width: 375px){
    .header-text{
        display: none;
    }
}
/* ===================== */
/* === Contact Modal === */
/* ===================== */

.modal-header{
    background-color: rgb(174, 246, 247);
}

.modal-body{
    background-color: rgb(218, 233, 254);
}

.modal-footer{
    background-color: rgb(174, 246, 247);
}

#message-field{
    width: 90vw;
    height: 30vh;
    border-style: inset;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}

#name-field{
    border-style: inset;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    width:40vw;
}

#email-field{
    border-style: inset;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    width:40vw;
}
/* ===================== */
/* === content area ==== */
/* ===================== */
#content{
    background-color: white;
    width:100vw;
    height:80vh;
    
}
.image{
    height:38vh;
    width:80vw;
} 
.imageTitle{
    color:white;
    background-color: rgba(0, 0, 0, 0.274);
    font-size:1em;
} 

.summary{
    color: white;
    background-color:rgba(0, 0, 0, 0.274);
    font-size: 1em;
}

#homeText{
    font-size: 0.9em;
    text-align: center;
    width:100vw;

}

#slideshow{
    width:80vw;
} 

@media screen and (min-width: 576px){
    .image{
        width: 85vw;
        padding-left: 15vw;
    }

    .carousel-control-prev-icon{
        position: relative;
        left: 10vw;
    }

    .carousel-control-next-icon{
        position: relative;
        right: 10vw;
    }
}
/* =================== */
/* === footer area === */
/* =================== */
#footer{
    background-color: rgb(166, 166, 255);
    font-size: 10px;
    width: 100vw;
    height:10vh;
    /* padding-top: -30%; */
}
